.section {
  position: relative;
  height: 4700px;
  width: 100%;
  z-index: 1;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: 100%;
  }
  .grid-pic {
    width: 48%;
  }
  .feature-title {
    position: relative;
    top: -18em;
    padding-bottom: 2em;
    margin-bottom: -4em;
    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
      z-index: 1;
      top: 0;
    }
    h4 {
      font-size: 4em;
      position: relative;
      z-index: 2;
      padding-top: 2.8em;
      font-family: serif;
      font-weight: bold;
      color: #7f612b;
    }
  }
  .header {
    position: relative;
    text-align: center;
    padding-top: 3em;

    p {
      font-size: 4em;
      text-align: center;
      font-family: serif;
      color: white;
      margin-bottom: 0.5em;
    }
    h2 {
      color: white;
      font-size: 6em;
      font-weight: bold;
      text-align: center;
      font-family: serif;
    }
  }
  .content {
    padding-top: 4em;
    width: 92%;
    margin: 0 4%;
    margin-bottom: 30em;
    .usage-list {
      .usage-item {
        display: flex;
        align-items: center;
        margin-bottom: 6em;
        position: relative;
        img {
          width: 44%;
          margin-right: 3em;
        }
        p {
          font-size: 2.4em;
          line-height: 2.2;
          color: white;
          width: 56%;
        }
        &.with-bottom-arrow {
          &::after {
            position: absolute;
            bottom: -6em;
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-top: 60px solid rgba(255, 255, 255, 0.5);
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .underline {
        text-decoration: underline;
      }
    }
  }
  .footer {
    text-align: center;
    position: relative;
    text-align: center;
    h1 {
      font-size: 6.8em;
      color: white;
      font-family: serif;
      padding-bottom: 0.2em;
    }
    .tip {
      font-size: 2em;
    }
  }
}
